@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Notaría 85</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/css/IniciarSesion.css" rel="stylesheet" />
</head>
<body>
    <div class="main">


        <div class="container">
            <center>
                <div class="middle">
                    <div id="login">

                        <form asp-controller="Login" asp-action="IniciarSesion" method="post">

                            <fieldset class="clearfix">

                                <p><span class="fa fa-user"></span><input type="text" placeholder="Correo" required name="correo"></p> <!-- JS because of IE support; better: placeholder="Username" -->
                                <p><span class="fa fa-lock"></span><input type="password" placeholder="Contraseña" required name="clave"></p> <!-- JS because of IE support; better: placeholder="Password" -->

                                <div>
                                    <span style="width:48%; text-align:left;  display: inline-block;">
                                        <a class="small-text" href="#">
                                            Olvidaste tu
                                            contraseña?
                                        </a>
                                    </span>
                                    <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Iniciar Sesion"></span>
                                </div>

                            </fieldset>
                            <div class="clearfix"></div>
                            @if (ViewData["Mensaje"] != null)
                            {

                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿No tienes una cuenta? <a href="@Url.Action("Registro","Login")"> Registraste!</a>


                        </form>

                        <div class="clearfix"></div>

                    </div> <!-- end login -->
                    <div class="logo">
                        <img src="~/img/images.jpeg" alt="Logonotaría">

                        <div class="clearfix"></div>
                    </div>

                </div>
            </center>
        </div>

    </div>
</body>
</html>

