@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoLogin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
        body {
            overflow-x: hidden;
        }

        .navbar-custom {
            background-color: #007bff;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            display: flex;
            justify-content: flex-end;
            padding-right: 20px;
            height: 56px;
        }

        .sidebar {
            width: 250px;
            height: 100vh;
            background-color: #343a40;
            padding: 15px;
            color: white;
            position: fixed;
            top: 56px;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 950;
        }

            .sidebar .nav-item {
                margin-bottom: 10px;
            }

            .sidebar .nav-link {
                color: white;
                display: flex;
                align-items: center;
                width: 100%;
                padding: 10px;
            }

                .sidebar .nav-link i {
                    margin-right: 10px;
                }

                .sidebar .nav-link:hover {
                    background-color: #495057;
                    color: white;
                }

            .sidebar .user-info {
                text-align: center;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                .sidebar .user-info img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin-bottom: 10px;
                }

            .sidebar .logo img {
                width: 150px;
                height: 150px;
                margin-bottom: 10px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

        .content {
            margin-left: 250px;
            margin-top: 56px;
            padding: 20px;
            min-height: calc(100vh - 56px);
        }

        .logout-link {
            color: white;
            display: flex;
            align-items: center;
        }

            .logout-link i {
                margin-right: 5px;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-custom">
            <a class="logout-link nav-link text-white" asp-area="" asp-controller="Home" asp-action="CerrarSesion">
                <i class="fas fa-sign-out-alt"></i><span>Cerrar Sesión</span>
            </a>
        </nav>
    </header>
    <div class="d-flex">
        <div class="sidebar" id="sidebar">
            <div class="logo">
                <img src="~/img/images.jpeg" alt="Logo Notaría">
            </div>
            <div class="user-info">
                <p>Bienvenido @ViewData["nombreUsuario"]</p>
            </div>
            <nav class="nav flex-column">
                @if (!User.IsInRole("Administrador") && !User.IsInRole("Manager"))
                {
                <a class="nav-link" href="#"><i class="fas fa-home"></i><span class="ml-2">Home</span></a>
                <a asp-area="" asp-controller="Proceso" asp-action="Proceso" class="nav-link"><i class="fas fa-file"></i><span class="ml-2">Mis Procesos</span></a>
                <a asp-area="" asp-controller="Materializacion" asp-action="Materializacion" class="nav-link"><i class="fas fa-file-contract"></i><span class="ml-2">Materialización</span></a>
                <a asp-area="" asp-controller="CopiaArchivos" asp-action="CopiaArchivos" class="nav-link"><i class="fas fa-file-alt"></i><span class="ml-2">Copia de Archivos</span></a>
                }
                
                @if (User.IsInRole("Administrador"))
                {
                <a asp-area="" asp-controller="Usuario" asp-action="Usuario" class="nav-link"><i class="fas fa-user"></i><span class="ml-2">Gestión de Usuarios</span></a>
                }

                @if (User.IsInRole("Administrador") || User.IsInRole("Manager"))
                {
                    <a asp-area="" asp-controller="GestionMaterializacion" asp-action="GestionMaterializacion" class="nav-link"><i class="fas fa-folder"></i><span class="ml-2">Gestion Materializacion</span></a>
                    <a asp-area="" asp-controller="GestionCopiaArchivo" asp-action="GestionCopiaArchivo" class="nav-link"><i class="fas fa-folder-plus"></i><span class="ml-2">Gestion de Copias de Archivo</span></a>
                }
            </nav>
        </div>
        <div class="content flex-grow-1 p-3" id="content">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
