@model ProyectoLogin.Models.UsuarioNotaria
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Notaría 85</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: #e8f1f2;
        }

        .main {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .card {
            border: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .btn-primary {
            background-color: #00173d;
            border-color: #00173d;
        }

        .form-control, .btn {
            border-radius: 0;
        }

        .card img {
            width: 50%;
            height: auto;
        }

        .text-center h4 {
            margin-top: 20px;
            font-size: 20px;
        }

        .admin-header {
            font-size: 24px;
            font-weight: bold;
            color: #00173d;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container main">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center mt-1">
                            <img src="~/img/images.jpeg" alt="Logo Notaría">
                            <div class="admin-header">Administrador</div> 
                            <div class="admin-header">Restablecer Contraseña</div>
                        </div>
                        <form method="post" asp-controller="LoginNotaria" asp-action="OlvidarContraseña">
                            <input type="hidden" name="token" value="@ViewBag.Token" />
                            <div class="form-group">
                                <label for="clave"><span class="fa fa-lock"></span> Nueva Contraseña</label>
                                <input type="password" class="form-control" id="clave" placeholder="Ingrese su nueva contraseña" required name="clave">
                            </div>
                            <div class="form-group">
                                <label for="confirmarClave"><span class="fa fa-lock"></span> Confirmar Contraseña</label>
                                <input type="password" class="form-control" id="confirmarClave" placeholder="Confirme su nueva contraseña" required name="confirmarClave">
                            </div>
                            @if (ViewBag.Mensaje != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Mensaje
                                </div>
                            }
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block">Cambiar Contraseña</button>
                            </div>
                            <br />
                        </form>
                        @if (ViewBag.Restablecido != null)
                        {
                            <div class="alert alert-success">
                                <p>Su contraseña fue restablecida, ahora puede ingresar a su cuenta con su nueva clave.</p>
                                <a class="btn btn-success" href="@Url.Action("IniciarSesion","LoginNotaria")">Ingresar</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
